    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="COBACAM Campeche"/>
    <meta name="language" content="{{ lang:code }}" />

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    
    <!-- Begin stylesheets -->
    
    {{ asset:css file="bootstrap.css" }}
    {{ asset:css file="selectize.css" }}
    {{ asset:css file="owl.carousel.css" }}
    {{ asset:css file="vanillabox/vanillabox.css" }}
    {{ asset:css file="flexslider.css" }}
    {{ asset:css file="bxslider/jquery.bxslider.css" }}
    
    {{ asset:css file="style.css" }}
    {{ asset:css file="custom.css" }}
    {{ asset:css file="jquery.fancybox.css" }}
    <!-- End stylesheets -->
    
    <!-- Begin scripts -->
    {{ asset:js file="jquery-2.1.0.min.js" }}
    {{ asset:js file="jquery-migrate-1.2.1.min.js" }}
    {{ asset:js file="bootstrap/bootstrap.min.js" }}
    {{ asset:js file="selectize.min.js" }}
    {{ asset:js file="owl.carousel.min.js" }}
    {{ asset:js file="jquery.validate.min.js" }}
    {{ asset:js file="jquery.placeholder.js" }}
    {{ asset:js file="jQuery.equalHeights.js" }}
    {{ asset:js file="icheck.min.js" }}
    {{ asset:js file="jquery.vticker.min.js" }}
    {{ asset:js file="jquery.fancybox.js" }}
    {{ asset:js file="jquery.fancybox-media.js" }}
    
    {{ asset:js file="jquery.vanillabox-0.1.5.min.js" }}
    {{ asset:js file="retina-1.1.0.min.js" }}
    {{ asset:js file="jquery.flexslider.js" }}
    {{ asset:js file="bxslider/jquery.bxslider.js" }}
    {{ asset:js file="custom.js" }}
    <!-- End scripts -->
    
    {{ asset:render }}
    
    {{ template:metadata }}
    
    
   
    <title>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ template:title }}</title>