<!DOCTYPE html>

<html lang="en-US">
<head>
    
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?file=api&v=3&&key=AIzaSyAHXd_wbPYIVTEtQRhFNZWp6t45UVhLncs"></script>
    {{ theme:partial name="metadata" }}

</head>
<body class="{{ if page:is_home == FALSE }}page-sub-page{{ else }}page-sub-page{{ endif }}">
    {{ integration:analytics }}
    <!-- Wrapper -->
    <div class="wrapper">  

		{{ theme:partial name="header" }}
        {{ if page:is_home == FALSE }}
            <div class="container">{{ theme:partial name="breadcrumbs" }}</div>
        {{ endif }}
        <!-- Page Content -->
        <div id="page-content">
            
                
            {{ template:body }}
               
            
        </div>
        <!-- end Page Content -->
        {{ theme:partial name="footer" }}
    </div>
    <!-- End Wrapper-->
    <div class="modal fade" id="myModal" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          
          
        </div>
      </div>
    </div>
    
</body>
</html>